<% include ../partials/header %>


  <div>
    <h2><%= sede.nombre %></h2>
    <p><strong>Cupo:</strong> <%= sede.cupo %></p>
    <p><strong>Dirección:</strong> <%= sede.direccion %></p>
    <p><strong>Teléfono:</strong> <%= sede.telefono %></p>
    <form action="/sedes/<%= sede._id %>" method="post">
    <button type="submit" class="btn btn-primary">Aprobar sede</button>
    </form>

  </div>

  <% include ../partials/footer %>