<% include ../partials/header %>

<h1>Instructoras por aprobar</h1>
<br>
<p>Listado de las Instructoras</p>


<% instructoras.forEach( instructora => {%>
  <div class="container">
    <h2><%= instructora.nombre %></h2>
    <p><strong>Correo:</strong> <%= instructora.email %></p>
    <p><strong>Fecha de Nacimiento:</strong> <%= instructora.fechaDeNacimiento %></p>
    <p><strong>Teléfono:</strong> <%= instructora.telefono %></p>
    <p><strong>Seleccionar una sede de las de preferencia: </strong></p>
    <form action="/instructoras/<%= instructora._id %>" method="post">
      <div class="form-group mt-4">
        <label class="col-sm-2" for="sedeActual"><strong>Sede Actual</strong></label>
        <select required placeholder="Sede Actual" name="sedeActual" class="custom-select col-sm-7 my-1 mr-sm-2" id="sedeActual">
          <% instructora.sedePreferencia.forEach(sede => { %>
            <option value="<%= sede._id %>"><%= sede.nombre %></option>
          <% }); %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Aprobar instructora</button>
    </form>

  </div>
<% })%>


<% include ../partials/footer %></br>